/* wishlist */
.wishlist-products {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin-left: 4rem;
}
.wishlist-title,
.wishlisted-total {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 2rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wishlisted-total {
  color: var(--text);
  font-size: 2rem;
  margin-top: 4rem;
}

/* checkout-button */
.btn-checkout {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 2rem;
  width: 20rem;
}
.btn-checkout:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}
