/* navigation */
.avatar-xsm {
  border: 2px solid var(--navigation-color);
  height: 3vw;
  width: 3vw;
  max-height: 5rem;
  max-width: 5rem;
  margin-right: 2rem;
}
.profile-menu {
  background-color: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  right: 0;
  width: 10rem;
  display: none;
  z-index: 3;
  transition: width 2s;
}
.profile:hover .profile-menu {
  display: block;
  background-color: var(--background-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 900;
}
