/* navigation */
.avatar-xsm {
  border: 2px solid var(--navigation-color);
  height: 3vw;
  width: 3vw;
  max-height: 5rem;
  max-width: 5rem;
  margin-right: 2rem;
}
.profile-menu {
  background-color: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  right: 0;
  width: auto;
  height: 12rem;
  padding: 0;
  display: none;
  z-index: 3;
  transition: width 2s;
}
.profile:hover .profile-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 900;
}
.right-nav li {
  padding: 0;
  width: 10rem;
}
.single-action-btn {
  position: relative;
}
.right-nav-img:hover {
  fill: var(--primary-color);
}

/* theme starts*/
.light-theme {
  --bg: var(--background-color);
  --text: var(--light-theme-color);
  --nav-brand: var(--primary-color);
  background-color: var(--bg);
  color: var(--text);
}
.dark-theme {
  --bg: var(--navigation-color);
  --text: var(--background-color);
  --nav-brand: var(--primary-color);
  background-color: var(--bg);
  color: var(--text);
}
/* theme ends */

/* badge-on wishlist */
.btn-icon-wishlist,
.btn-icon-cart {
  background-color: var(--primary-color);
  border: solid var(--primary-color);
  color: var(--background-color);
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: -3px;
  right: 0;
  left: 18px;
}
