/* navigation */
.avatar-xsm {
  border: 2px solid var(--navigation-color);
  height: 3vw;
  width: 3vw;
  max-height: 5rem;
  max-width: 5rem;
  margin-right: 2rem;
}
.profile-menu {
  background-color: var(--primary-color);
  color: var(--background-color);
  position: absolute;
  right: 0;
  width: 10rem;
  display: none;
  z-index: 3;
  transition: width 2s;
}
.profile:hover .profile-menu {
  display: block;
  background-color: var(--background-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-weight: 900;
}

.single-action-btn {
  position: relative;
}
/* .right-nav-img {
  position: relative;
} */
.right-nav-img:hover {
  fill: var(--primary-color);
}

/* badge-on wishlist */
.btn-icon-wishlist,
.btn-icon-cart {
  background-color: var(--primary-color);
  border: solid var(--primary-color);
  color: var(--background-color);
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
  /* top: -3px;
  right: 0;
  left: 18px; */
}
.btn-icon-wishlist {
  left: 111.7rem;
  top: 1.3rem;
}

.btn-icon-cart {
  left: 117.2rem;
  top: 1.3rem;
}
