/* footer-section */
.footer {
  background-color: var(--footer-bg-color);
  color: var(--background-color);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  padding: 12rem;
  text-align: center;
}
.footer-title {
  font-weight: 400;
  margin-bottom: 2rem;
}
.footer-contact {
  font-weight: 400;
}
.footer-item:hover {
  color: var(--primary-color);
}
.footer-svg {
  fill: var(--background-color);
  color: var(--background-color);
}
.footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
